body {
    text-align: center;
    font-family: 'Abel', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/*ハンバーガーメニュー*/

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    align-items: center;
    z-index: 90;
    background-color: rgba(255,255,255,0);
    justify-content:center ;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: rgb(162, 162, 162);
    position: absolute;
}

.menu-btn span:before{
    bottom: 8px;
}

.menu-btn span:after{
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255,255,255,0);
}

#menu-btn-check:checked ~ .menu-btn span:before{
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span:after{
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
   border-bottom: solid 1px #ffffff;
   list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;
}

/*ここからローディング画面*/
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #0bd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.load-logo {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.5s infinite ease-in-out;
}

@keyframes sk-scaleout {
    0% { 
        transform: scale(0); 
    }
    100% {
         transform: scale(1.0);
         opacity: 0;
    }
}

.gallery {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.img_load {
    width: 100%;
    height: 0;
    object-fit: cover;
}

.loaded{
    opacity: 0;
    visibility: hidden;
}

/*タイトルColorPaletteTokyo*/

.header {
    font-size: 10vw;
    margin-bottom: 420px;
    margin-top: 300px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.no-change {
    color: #555;
}

.no-change-n {
    color: #fff;
}

/*タイトル下の文章*/

.maintext {
    font-size: 25px;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.maintext.show{
    transform: translateY(0);
     opacity:  1.0;
    margin-bottom: 200px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

span {
    font-weight: bold;
}

/*ここからスクロールのやつ*/

.scroll-down{
    position: absolute;
    bottom: 1%;
    right: 85%;
    animation: arrowmove 1.0s ease-in-out infinite;/*矢印が動く速度、秒数はやめると動きも早くなる*/
    opacity: 0; /*最初は非表示*/
    transition: opacity 0.5s ease-in-out;
}

.scroll-down a {
    position: absolute;
    left: -24px;
    bottom: 17px;
    color: #000;
    writing-mode: vertical-lr;
    font-size: 14px;
    letter-spacing: .2em;
    text-decoration: none;
    text-transform: uppercase;
}

.scroll-down:before {
    content: "";
    position: absolute;
    bottom: 5px;
    right: -6px;
    width: 2px;
    height: 20px;
    background: #000;
    transform: skewX(-31deg);
}

.scroll-down:after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 2px;
    height: 85px;
    background: #000;
}

@keyframes arrowmove {
    0%{bottom:1%;}
    50%{bottom: 5%;}
    00%{bottom: 1%;}
}

/*ここからアイコン系のとこ*/

.palette {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-period {
    margin-top: 3em;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.time-period.show{
    margin-top: 3em;
    transform: translateY(0);
     opacity:  1.0;
}


h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.images {
    display: flex;
    gap: 10vw; /* 画像間のスペース */
    color: gray;
}

.image {
    width: 100px; /*画像の幅*/
    height: 100px; /*画像の高さ*/
    object-fit: cover; /*画像がボックスに収まるように*/
    position: relative;
    top: 0;
}

.image:hover {
    top: -10px;
    transform: 0.3s
}

footer {
    margin-top: 50px;
    font-size: 1.5vw;
}

/*ここから各写真ページ*/
/*night*/

body.body-morning {
    color: #555;
    text-align: center;
    font-family: 'Abel', sans-serif;
    background: linear-gradient(0deg, #D7FCFE, #B3D4FA) ;
    margin: 0;
    padding: 0;
}

body.body-afternoon {
    color: #555;
    text-align: center;
    font-family: 'Abel', sans-serif;
    background: linear-gradient(0deg, #B3D4FA, #D7FCFE) ;
    margin: 0;
    padding: 0;
}

body.body-evening {
    color: #555;
    text-align: center;
    font-family: 'Abel', sans-serif;
    background: linear-gradient(0deg, #fff, #f7ba96) ;
    margin: 0;
    padding: 0;
}

body.body-night {
    color: #fff;
    text-align: center;
    font-family: 'Abel', sans-serif;
    background: linear-gradient(0deg, #131735, #393f6b) ;
    margin: 0;
    padding: 0;
}

.header2 {
    font-size: 10vw;
    margin-top: 5%;
}

h3{
    font-size: 4vw;
    margin-top: 0vw;
    margin-bottom: 15vw;
}

/*右に写真がある時*/
.section1 {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20%;
}

.seen1 {
    width: 100%;
    max-width: 50%;
    height: auto;
    margin-left: 40%;
    margin-right: 5%;
}

.time-color1 {
    font-size: 4vw;
    margin-right: 57%;
    margin-top: -10%;
}

.color-flower1 {
    width: 25%;
    height: 25%;
    margin-right: 57%;
    margin-top: -50%;
}

.drops1{
    width: 20%;
    height: 20%;
    margin-right: 60%;
    margin-top: 5%
}

.color-text1 {
    font-size: 2vw;
    max-width: 45%;
    text-align: left;
    margin-left: 45%;
    margin-top: -30%;
}

.section2/*左に写真がある時*/ {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20%;
}

.seen2 {
    width: 100%;
    max-width: 50%;
    height: auto;
    margin-left: 5%;
    margin-right: 40%;
}

.time-color2 {
    font-size: 4vw;
    margin-left: 57%;
    margin-top: -10%;
}

.color-flower2 {
    width: 25%;
    height: 25%;
    margin-left: 57%;
    margin-top: -50%;
}

.drops2 {
    width: 17%;
    height: 17%;
    margin-left: 60%;
    margin-top: 5%;
}

.drops3 {
    width: 15%;
    height: 15%;
    margin-right: 60%;
    margin-top: 5%
}

.drops4 {
    width: 15%;
    height: 15%;
    margin-right: 60%;
    margin-top: 15%
}


.color-text2 {
    font-size: 2vw;
    max-width: 45%;
    text-align: left;
    margin-left: 10%;
    margin-top: -30%;
}

.senden {
    text-align: left;
    margin-left: 10%;
    font-size: 4vw;
}

.acsess {
    text-align: left;
    font-size: 2vw;
    margin: 5%;
}

.more {
    margin-top: 3em;
}

.more-palette {
    display: flex;
    gap: 6vw;
    margin-top: 2em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.circle {
    justify-content: center;
    text-align: center;
}

.more-icon {
    width: 10vw; /*画像の幅*/
    height: 10vw; /*画像の高さ*/
    object-fit: cover; /*画像がボックスに収まるように*/
    position: relative;
    top: 0;
}

.more-icon:hover {
    top: -10px;
    transform: 0.3s
}

.more-text {
    font-size: 2vw;
}

.kaigyo {
    display: inline-block;
    text-decoration: none;
    font-weight: lighter;
}